@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*！====以上是rest样式======*/
/*=================公用资源=============*/
.clearfix {
  zoom: 1; }

.clearfix:after {
  content: ' ';
  display: block;
  clear: both; }

a, a:link {
  text-decoration: none;
  webkit-tap-highlight-color: transparent; }

.css {
  -webkit-user-select: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only; }

input {
  outline: none; }

.name {
  position: relative;
  z-index: 3;
  top: 0.95rem;
  left: 1.8rem;
  margin-bottom: 0.55rem;
  /* margin: 0.95rem 2.4rem 1.05rem 1.8rem; */
  background: url(../img/images-ucard/images-ucard.png) no-repeat;
  background-size: 23.05rem 14.9rem;
  height: 2.35rem;
  width: 1.90rem;
  background-position: 0 0;
  display: inline-block; }

.id {
  position: relative;
  z-index: 3;
  top: 2.9rem;
  left: 1.6rem;
  /* margin: 2.45rem 2.15rem 1.4rem 1.6rem; */
  background: url(../img/images-ucard/images-ucard.png) no-repeat;
  background-size: 23.05rem 14.9rem;
  height: 1.65rem;
  width: 2.45rem;
  background-position: -7.05rem 0;
  display: block; }

.ico-arrow-right {
  width: 0.9rem;
  height: 1.4rem;
  position: absolute;
  top: 1.45rem;
  right: 1.5rem;
  background: transparent url(../img/images-ucard/ico-arrow-right.png) 0 0 no-repeat;
  background-size: 0.9rem auto; }

.hl-v {
  display: block;
  position: absolute;
  z-index: 999;
  top: 4.3rem;
  right: 0;
  width: 96%;
  height: .1rem;
  background: #DEDEDC; }

form {
  display: block;
  width: 100%; }

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 0;
  width: 92.75%;
  height: 4.2rem;
  -moz-border-radius: 0.45rem;
  -webkit-border-radius: 0.45rem;
  border-radius: 0.45rem;
  background: #04BE02;
  text-align: center;
  line-height: 4.2rem;
  font-size: 1.8rem;
  font-weight: normal !important;
  color: #FFF; }

button {
  outline: none; }

:focus {
  outline: 0; }

/*=============文档自带样式=============*/
html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  background: #EEEEF3;
  font-family: Helvetica; }

.wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  background: #EEEEF3;
  overflow-x: hidden; }

.hd {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 8.7rem;
  background-color: #FFF;
  margin-top: 1.55rem;
  border: 0.05rem solid #DEDEDC; }
  .hd form {
    height: auto;
    position: relative; }
  .hd .inputname {
    position: relative;
    top: 1.2rem;
    left: 2.65rem;
    font-size: 1.5rem;
    width: 73.75%;
    height: 1.8rem;
    line-height: 1.8rem;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0.05rem; }
  .hd .inputid {
    position: relative;
    top: 1rem;
    left: 5rem;
    font-size: 1.5rem;
    width: 73.75%;
    height: 1.8rem;
    line-height: 1.8rem;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0.05rem; }

.bd {
  width: 100%;
  height: 4.3rem;
  position: relative;
  background: #FFF;
  margin-top: 2rem;
  border: 0.05rem solid #DEDEDC; }
  .bd .alert {
    font-size: 1.1rem;
    color: #DD4040;
    position: absolute;
    top: -1.6rem;
    left: .95rem; }
  .bd .money {
    position: relative;
    top: 0.95rem;
    left: 1.6rem;
    display: inline-block;
    background: url(../img/images-ucard/images-ucard.png) no-repeat;
    background-size: 23.05rem 14.9rem;
    height: 2.25rem;
    width: 2.5rem;
    background-position: -10.3rem 0; }
  .bd form {
    height: auto;
    position: relative; }
  .bd a {
    /* border:1px solid #000; */
    position: relative;
    display: inline-block;
    width: 73.75%;
    height: 1.8rem;
    left: 2.5rem;
    top: 0.75rem; }
  .bd span:hover {
    visibility: hidden; }
  .bd .moneyAmount, .bd select {
    position: absolute;
    top: 0rem;
    left: 0;
    width: 73.75%;
    height: 1.8rem;
    line-height: 1.8rem;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0.05rem; }
  .bd .moneyAmount {
    z-index: 999;
    background: #FFF; }
  .bd select {
    z-index: 1; }

.ft {
  position: relative;
  width: 100%;
  height: auto; }
  .ft .tips {
    display: block;
    margin-left: 0.95rem;
    margin-top: 0.75rem;
    font-size: 1.1rem;
    color: #808080; }

.hd-c {
  height: 4.3rem;
  width: 100%; }
  .hd-c a {
    display: block;
    width: 26rem;
    height: 4.3rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    color: #000;
    /* position: relative;top:-3.4+1.4+0.6rem; */
    margin-top: -3.1rem;
    margin-left: 6rem; }
    .hd-c a .userName {
      margin: 0; }
    .hd-c a .userId {
      margin-left: 3.2rem; }

.bd-c {
  position: relative; }
  .bd-c .money {
    position: relative;
    top: 0.95rem;
    left: 1.6rem;
    display: block;
    background: url(../img/images-ucard/images-ucard.png) no-repeat;
    background-size: 23.05rem 14.9rem;
    height: 2.25rem;
    width: 2.5rem;
    background-position: -10.3rem 0; }
  .bd-c select {
    position: absolute;
    top: 1.15rem;
    left: 5.8rem;
    width: 73.75%;
    font-size: 1.5rem;
    height: 1.8rem;
    line-height: 1.8rem;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0.05rem; }

.wrapper-l {
  margin-top: 1.5rem; }

.bd-l {
  margin-top: 0;
  height: auto; }

.history {
  position: relative;
  width: 100%;
  height: auto; }
  .history a {
    width: 100%;
    display: block;
    font-size: 1.6rem;
    color: #000;
    font-weight: bold;
    padding-top: 1.15rem;
    padding-bottom: 1.25rem;
    padding-left: 1.6rem;
    line-height: 1.6rem; }
    .history a span {
      padding-top: 0.8rem;
      display: block;
      font-size: 1.4rem;
      line-height: 1.4rem;
      color: #808080;
      font-weight: normal; }
  .history a:nth-of-type(1)::after, .history a:nth-of-type(2)::after {
    content: " ";
    display: block;
    position: relative;
    z-index: 999;
    top: 1.25rem;
    right: 0;
    width: 96%;
    height: .1rem;
    background: #DEDEDC; }
  .history a:nth-last-child(1)::after {
    display: none; }

.ft-l {
  position: relative;
  width: 100%;
  margin-top: 1.5rem;
  border: 0.05rem solid #DEDEDC;
  background: #FFF; }
  .ft-l a {
    display: block;
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    height: 4.3rem;
    line-height: 4.3rem;
    padding-left: 1.6rem;
    color: #000; }

body.finish {
  background: #DEDEDE; }

.wrapper-f {
  position: relative;
  width: 100%;
  height: 100%; }

.hd-f {
  position: relative;
  z-index: 1;
  width: 100%;
  /* height: 9rem; */
  background: #EEEEF3; }
  .hd-f .ico-bg {
    position: relative;
    left: 3.1rem;
    top: 2.85rem;
    width: 3.6rem;
    height: 3.6rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #3FB838; }
  .hd-f .ico-tick {
    display: block;
    background: url(../img/images-ucard/images-ucard.png) no-repeat;
    background-size: 23.05rem 14.9rem;
    height: 1.6rem;
    width: 2.1rem;
    background-position: -3.5rem 0;
    position: relative;
    left: 0.8rem;
    top: 1.05rem; }
  .hd-f h2 {
    margin-left: 7.9rem;
    margin-top: 0rem;
    padding-bottom: 4.0rem;
    font-size: 2.2rem; }

.bd-f {
  position: relative;
  width: 100%; }
  .bd-f .ico-mtm {
    display: block;
    background: url(../img/images-ucard/images-ucard.png) no-repeat;
    background-size: 23.05rem 14.9rem;
    height: 12.4rem;
    width: 23.0rem;
    background-position: 0 -2.5rem;
    margin: 0 auto;
    margin-top: 2.65rem; }
  .bd-f .tips {
    margin-top: 2.25rem;
    text-align: center;
    color: #000;
    font-size: 1.5rem; }

.btnf {
  margin-top: 2.7rem; }

@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 11.72875px; } }
@media screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 12px; } }
@media screen and (min-width: 384px) and (max-width: 399px) {
  html {
    font-size: 12.5px; } }
@media screen and (min-width: 400px) and (max-width: 413px) {
  html {
    font-size: 12.9375px; } }
@media screen and (min-width: 414px) and (max-width: 423px) {
  html {
    font-size: 13.5px; } }
@media screen and (min-width: 424px) and (max-width: 479px) {
  html {
    font-size: 15px; } }
@media screen and (min-width: 480px) and (max-width: 539px) {
  html {
    font-size: 16.875px; } }
@media screen and (min-width: 540px) and (max-width: 599px) {
  html {
    font-size: 18.75px; } }
@media screen and (min-width: 600px) and (max-width: 639px) {
  html {
    font-size: 20px; } }
@media screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 22.5px; } }
@media screen and (min-width: 720px) {
  html {
    font-size: 25px; } }
