@charset "UTF-8";
/*！====reset样式====== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*=================公用资源=============*/
.clearfix {
  zoom: 1; }

.clearfix:after {
  clear: both;
  content: "";
  display: block; }

a,
a:link {
  text-decoration: none; }

.css {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-user-select: none; }

/*!====================组件模块 ========================*/
.ico-arrow-right {
  position: absolute;
  right: 1.5rem;
  top: 1.45rem;
  height: 1.4rem;
  width: 0.9rem;
  background: transparent url(../img/images-ucard/ico-arrow-right.png) 0 0 no-repeat;
  background-size: 0.9rem auto; }

.name {
  position: relative;
  top: 0.95rem;
  left: 1.8rem;
  display: inline-block;
  margin-bottom: 0.55rem;
  /* margin: 0.95rem 2.4rem 1.05rem 1.8rem; */
  z-index: 3;
  background: url(../img/images-ucard/images-ucard.png) no-repeat;
  background-size: 23.05rem 14.9rem;
  background-position: 0 0;
  height: 2.35rem;
  width: 1.90rem; }

.id {
  position: relative;
  top: 2.6rem;
  left: 1.6rem;
  display: block;
  margin: 0 0 1.95rem 0;
  z-index: 3;
  background: url(../img/images-ucard/images-ucard.png) no-repeat;
  background-size: 23.05rem 14.9rem;
  background-position: -6.95rem 0;
  height: 1.65rem;
  width: 2.45rem; }

.hl-v {
  position: absolute;
  right: 0;
  top: 4.3rem;
  height: 0.1rem;
  width: 96%;
  background: #dededc;
  z-index: 999; }

form {
  display: block;
  width: 100%;
  position: relative;
  height: auto; }

/*！====span+select下拉框复用样式开始=== */
.form-2 {
  position: relative; }
  .form-2 .money {
    position: relative;
    top: 0;
    left: 1.6rem;
    display: inline-block;
    margin-top: 0.95rem;
    margin-bottom: 0.85rem;
    background: url(../img/images-ucard/images-ucard.png) no-repeat;
    background-size: 23.05rem 14.9rem;
    background-position: -10.3rem 0;
    height: 2.25rem;
    width: 2.5rem; }
  .form-2 .select-money {
    position: absolute;
    top: 1.4rem;
    left: 6rem;
    width: 73.75%;
    height: 1.8rem;
    line-height: 1.8rem; }
  .form-2 span, .form-2 select {
    position: absolute;
    border: 0;
    width: 73.75%;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 1.5rem; }
  .form-2 span {
    top: 0;
    left: 0;
    z-index: 999;
    color: #C7C7CD;
    background: #fff; }
  .form-2 select {
    position: relative;
    top: 0rem;
    left: 0;
    z-index: 1; }

/*！====span+select下拉框复用样式结束== */
.ip {
  position: relative;
  width: 73.75%;
  height: 1.8rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  border: 0; }

.ft {
  position: relative;
  width: 100%;
  height: auto; }
  .ft .tips {
    display: block;
    margin-left: 0.95rem;
    margin-top: 0.75rem;
    font-size: 1.1rem;
    color: #808080; }
  .ft .btn {
    display: block;
    width: 92.75%;
    height: 4.2rem;
    margin: 0 auto;
    margin-top: 3rem;
    color: #fff;
    background: #04be02;
    font-size: 1.8rem;
    font-weight: normal !important;
    line-height: 4.2rem;
    text-align: center;
    -moz-border-radius: 0.45rem;
    -webkit-border-radius: 0.45rem;
    border-radius: 0.45rem; }

:focus {
  outline: none; }

/*=============文档自带样式=============*/
html {
  font-size: 10px; }

body {
  background: #eeeef3;
  font-family: Helvetica;
  font-size: 1.6rem; }

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #eeeef3;
  overflow-x: hidden; }

.hd {
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  margin-top: 1.55rem;
  border: 0.05rem solid #dededc;
  background-color: #fff; }
  .hd .ipname {
    top: 1.2rem;
    left: 3.65rem;
    height: 1.8rem; }
  .hd .ipid {
    top: -1rem;
    /* top: 0.8rem; */
    left: 6rem; }

.bd {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  background: #fff;
  border: 0.05rem solid #dededc; }
  .bd .alert {
    position: absolute;
    top: -1.6rem;
    left: 0.95rem;
    color: #dd4040;
    font-size: 1.1rem; }

.hd-c {
  width: 100%;
  height: 4.3rem; }
  .hd-c a {
    display: block;
    width: 26rem;
    height: 4.3rem;
    margin-left: 6rem;
    margin-top: -3.1rem;
    color: #000;
    /* position: relative;top:-3.4+1.4+0.6rem; */
    font-size: 1.5rem;
    line-height: 4.3rem; }
    .hd-c a .username {
      margin: 0; }
    .hd-c a .userid {
      margin-left: 3.2rem; }

.bd-c {
  position: relative; }

.wrapper-l {
  margin-top: 1.5rem; }

.bd-l {
  height: auto;
  margin-top: 0; }
  .bd-l .history {
    position: relative;
    width: 100%;
    height: auto; }
    .bd-l .history a:nth-of-type(1)::after, .bd-l .history a:nth-of-type(2)::after {
      position: relative;
      right: 0;
      top: 1.25rem;
      z-index: 999;
      content: " ";
      display: block;
      width: 96%;
      height: 0.1rem;
      background: #dededc; }
    .bd-l .history a:nth-last-child(1)::after {
      display: none; }
    .bd-l .history a {
      display: block;
      width: 100%;
      padding-bottom: 1.2rem;
      padding-left: 1.6rem;
      padding-top: 1.2rem;
      color: #000;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.6rem; }
      .bd-l .history a span {
        display: block;
        padding-top: 0.8rem;
        color: #808080;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.4rem; }

.ft-l {
  position: relative;
  width: 100%;
  margin-top: 1.5rem;
  background: #fff;
  border: 0.05rem solid #dededc; }
  .ft-l a {
    display: block;
    width: 100%;
    height: 4.3rem;
    padding-left: 1.6rem;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 4.3rem;
    color: #000; }

body.finish {
  background: #dedede; }

.wrapper-f {
  position: relative;
  width: 100%;
  height: 100%; }

.hd-f {
  position: relative;
  width: 100%;
  /* height: 9rem; */
  z-index: 1;
  background: #eeeef3; }
  .hd-f .ico-bg {
    position: relative;
    top: 2.85rem;
    left: 3.1rem;
    width: 3.6rem;
    height: 3.6rem;
    background-color: #3fb838;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .hd-f .ico-tick {
    position: relative;
    top: 1.05rem;
    left: 0.8rem;
    display: block;
    background: url(../img/images-ucard/images-ucard.png) no-repeat;
    background-size: 23.05rem 14.9rem;
    background-position: -3.5rem 0;
    height: 1.6rem;
    width: 2.1rem; }
  .hd-f h2 {
    font-size: 2.2rem;
    margin-left: 7.9rem;
    margin-top: 0;
    padding-bottom: 4.0rem; }

.bd-f {
  position: relative;
  width: 100%; }
  .bd-f .ico-mtm {
    display: block;
    margin: 0 auto;
    margin-top: 2.65rem;
    background: url(../img/images-ucard/images-ucard.png) no-repeat;
    background-size: 23.05rem 14.9rem;
    background-position: 0 -2.5rem;
    height: 12.4rem;
    width: 23.0rem; }
  .bd-f .tips {
    color: #000;
    font-size: 1.5rem;
    margin-top: 2.25rem;
    text-align: center; }

.btnf {
  margin-top: 2.7rem; }

@media screen and (max-width: 320px) {
  html {
    font-size: 10px; } }
@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 11.72875px; } }
@media screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 12px; } }
@media screen and (min-width: 384px) and (max-width: 399px) {
  html {
    font-size: 12.5px; } }
@media screen and (min-width: 400px) and (max-width: 413px) {
  html {
    font-size: 12.9375px; } }
@media screen and (min-width: 414px) and (max-width: 423px) {
  html {
    font-size: 13.5px; } }
@media screen and (min-width: 424px) and (max-width: 479px) {
  html {
    font-size: 15px; } }
@media screen and (min-width: 480px) and (max-width: 539px) {
  html {
    font-size: 16.875px; } }
@media screen and (min-width: 540px) and (max-width: 599px) {
  html {
    font-size: 18.75px; } }
@media screen and (min-width: 600px) and (max-width: 639px) {
  html {
    font-size: 20px; } }
@media screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 22.5px; } }
@media screen and (min-width: 720px) {
  html {
    font-size: 25px; } }
